{% extends "layout.html" %}

{% block content %}
	{{ name }}
	<div id="root"></div>
{% endblock %}

{% block footer %}
	{% if debug %}
	<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
	{% else %}
	<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
	{% endif %}
	<script src="{{url_for('static', filename='js/admin.js')}}"></script>
{% endblock %}
